@import '../../../styles/variables.scss';

.user__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--bg-secondary);
  border-radius: var(--rounded);

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 564px) {
  .user__stats {
    justify-content: space-around;
  }
}

