.repo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--bg-secondary);
  border-radius: var(--rounded-sm);

  .repo__details {
    display: flex;
    flex-direction: column;
    .repo__details__name {
      width: 100%;
      margin-bottom: 1rem;
    }
    .repo__details__desc {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: var(--text-secondary);
    }
  }
}

