.container {
  padding: 1rem;
}

.btn {
  font-size: 1rem;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  border-radius: 0.25em;
  background-color: var(--sky-blue);
}

.avatar {
  border-radius: 50%;
}

