.user__info {
  padding: 1rem;
  border-radius: var(--rounded);
  background-color: var(--bg-secondary);

  .user__details {
    display: flex;
    align-items: center;

    &--avatar {
      margin-right: 2rem;

      img {
        width: 7rem;
      }
    }

    &--desc {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .user__nickname {
        color: var(--sky-blue);
      }
    }
  }

  .user__bio {
    margin: 1rem 0;
    padding: 0.5rem 0;
  }
}

